.item {
	display: flex;
	justify-content: space-between;
	vertical-align: bottom;
	padding: 10px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	transition: 0.3s;
}

.truncatedText {
	display: block;
	white-space: nowrap; /* Запрещаем перенос строки */
	overflow: hidden; /* Прячем то, что не влезло */
	text-overflow: ellipsis; /* Добавляем три точки */
	max-width: 100%; /* Ширина контейнера */
}

.item:hover {
	background-color: #f5f5f5;
}
